@model Web.Models.Game.SubjectInfoModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_GameDetailLayout.cshtml";
}

<img src="@Model.PictureUrl" class="i-toppic" />
<div class="i-inner">
    <h3>@Model.Title</h3>
    <p class="i-decs">
        @Model.Description
    </p>
    <input type="text" class="i-input" placeholder="请输入您的姓名" /><a href="javascript:void(0);" class="i-submit">开始测试</a>
    <p class="i-join">
        有<em>@Model.Total</em>人参与
    </p>
</div>
<script type="text/javascript">
    $(".i-submit").on('click', function () {
        var name = $(".i-input").val().trim();
        name = name.replace("?", " ");
        if (name) {
            window.location.href = "@Url.Action("Result", "Game")" + "?subjectId=@Model.Id&name=" + name;
        } else {
            alert('请输入姓名');
        }
    });

</script>



