@model List<Web.Models.Game.SubjectInfoModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>趣味测试</title>
    <link href="~/Content/common_mobile.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <style type="text/css">
        .i-morelist {
            margin-bottom: 55px;
        }

        table {
            margin-bottom: 5px;
            border-collapse: collapse;
            display: table;
            width: 100% !important;
            line-height: 1.5;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
        }
    </style>
</head>

<body app-name="test" app-mod="3">
    <div class="wnl-test-name">
        @if (Model.Count > 0)
        {
            <a href="@Url.Action("Detail", "Game", new { subjectId = Model[0].Id })">
                <img src="@Model[0].PictureUrl" class="i-toppic" />
            </a>
        }
        <div class="i-morelist clearfix">
            <h4><span>大家都在玩</span></h4>
            <ul>
                @foreach (var item in Model.GetRange(1, Model.Count - 1))
                {
                    <li>
                        <a href="@Url.Action("Detail", "Game", new { subjectId = item.Id })">
                            <img src="@item.PictureUrl" />
                            <span>@item.Title</span>
                        </a>
                    </li>
                }
                @*<li>
                        <a stat="NameTestRelatedClick" href="start.php?type=newyear">
                            <img src="~/Images/ny_top.jpg"/>
                            <span>2016年最能代表你的一个字？</span>
                        </a>
                    </li>

                    <li>
                        <a stat="NameTestRelatedClick" href="start.php?type=shenti">
                            <img src="~/Images/ny_top.jpg"/>
                            <span>你的身体构造是？</span>
                        </a>
                    </li>

                    <li>
                        <a stat="NameTestRelatedClick" href="start.php?type=pian">
                            <img src="~/Images/ny_top.jpg"/>
                            <span>你的受骗指数有多高？</span>
                        </a>
                    </li>

                    <li>
                        <a stat="NameTestRelatedClick" href="start.php?type=huaxin">
                            <img src="~/Images/ny_top.jpg"/>
                            <span>测测你的花心指数</span>
                        </a>
                    </li>

                    <li>
                        <a stat="NameTestRelatedClick" href="start.php?type=ming">
                            <img src="~/Images/ny_top.jpg"/>
                            <span>你命里缺什么？</span>
                        </a>
                    </li>

                    <li>
                        <a stat="NameTestRelatedClick" href="start.php?type=love">
                            <img src="~/Images/ny_top.jpg"/>
                            <span>你被爱的五个理由是？</span>
                        </a>
                    </li>
                    <li>
                        <a stat="NameTestRelatedClick" href="http://www.luochaowang.com/huiju/">
                            <img src="~/Images/ny_top.jpg"/>
                            <span>精品美文</span>
                        </a>
                    </li>*@
            </ul>
        </div>
    </div>
</body>

</html>
